@media screen and (max-width: 1200px) {
  .main__intro .wrapper{
    flex-direction: column;
    row-gap: 100px;
  }

  .intro-left{
    width: 80%;
    padding: 30px 0 0 0;
    margin: 0 auto;
  }

  .intro-right{
    margin: 0 auto;
  }

  .main__about .wrapper{
    flex-direction: column-reverse;
    row-gap: 80px;
  }

  .about__right{
    width: 80%;
    margin: 0 auto;
  }

  .about__left .picture__box{
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro-left{
    width: 70%;
    padding: 30px 0 0 20px;
    margin: 0 auto;
  }

  .intro-left a{
    margin: 0 auto;
  }

  .intro-right{
    margin: 0 0 0 0px;
  }

  .main__picture{
    float: right;
    max-width: 569px;
    max-height: 593px;
  }

  .about__right{
    width: 60.9%;
  }
}

@media screen and (max-width: 550px) {
  .main__intro .wrapper{
    max-width: 98%;
  }

  .intro-left{
    padding: 30px 0 0 0;
    width: 100%;
  }

  .main__intro .title__section{
    width: 70%;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    margin: 0 auto;
  }
  
  .main__intro .description__section{
    width: 98%;
    text-align: center;
    margin: 0 auto;
  }

  .intro-right{
    width: 90%;
    margin: 0 auto;
  }

  .main__about .wrapper{
    max-width: 98%;
    row-gap: 42px;
  }

  .about__left{
    padding: 30px 0 0 0;
    width: 100%;
  }

  .main__about .title__section{
    width: 90%;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    margin: 0 auto 25px auto;
  }
  
  .main__about .description__section{
    width: 98%;
    text-align: justify;
    margin: 0 auto;
  }

  .about__right{
    width: 92%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .main__picture{
    float: right;
    max-width: 260px;
    max-height: 271.77px;
  }

  .main__about .wrapper{
    display: flex;
    column-gap: var(--120px);
    padding: 42px 0 42.4px;
  }

  .about__left .picture__box{
    width: 260px;
    height: 353.6px;
    background-size: cover;
  }

  .about__left{
    padding: 0 0 0 0;
  }
}