:root{
  --10px: 0.625rem;
  --13px: 0.813rem;
  --15px: 0.938rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --35px: 2.188rem;
  --40px: 2.5rem;
  --42px: 2.625rem;
  --44px: 2.75rem;
  --46px: 2.875rem;
  --50px: 3.125rem;
  --60px: 3.75rem;
  --80px: 5rem;
  --100px: 6.25px;
  --120px: 7.5rem;

  --color-brown: #262425;
  --color-brown-dark: #211F20;
  --color-brown-light: #5B483A;
  --color-white: #FFFFFF;
  --color-white-dark: #CDCDCD;
  --color-white-dark_I: #B2B2B2;
  --color-white-light: #FAFAFA;
  --color-white-light_I: #F6F6F6;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark_I: #545454;
  --color-dark_II: #4C4C4C;
  --color-dark_III: #292929;
}

/* ----------
HEADER
---------- */
.burger__menu span{
  background-color: var(--color-primary);
}

/* ----------
MAIN
---------- */
/*  -------------------  NOT ONLY  ------------------- */
.not-only__wrapper{
  position: relative;
  display: flex;
  background: url("./../assets/png/bg/start-screen-gradient-background.png");
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.main__intro{
  width: 100%;
  padding-top: 120px;
}

.main__intro .wrapper{
  display: flex;
  column-gap: 42px;
}

.intro-left{
  width: 39.1%;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  padding: 223px 0 243px 0;
}

.intro-right{
  margin: auto 0 0 0;
}

.main__intro .title__section{
  max-width: 310px;
  line-height: 57.2px;
  color: var(--color-white);
}

.main__intro .description__section{
  color: var(--color-white-dark);
}

.main__intro .btn{
  transition: .5s ease;
  z-index: 1;
}

.main__intro .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--color-primary-light);
  z-index: -1;
  transition: .5s ease;
}

.main__intro .btn:hover::before{
  content: '';
  position: absolute;
  width: 100%;
}

/*  -------------------  ABOUT  ------------------- */
.about__wrapper{
  display: flex;
  background-color: var(--color-white);
}

.main__about .wrapper{
  display: flex;
  column-gap: var(--120px);
  padding: 80px 0 100px;
}

.about__left .picture__box{
  width: 300px;
  height: 408px;
  background-image: url("./../assets/png/pets_page/dog_cat.png");
  margin: auto auto auto 175px;
}

.about__right{
  width: 36%;
  margin-top: auto;
  margin-bottom: auto;
}

.about__right .title__section{
  max-width: 370px;
  letter-spacing: 0.06em;
  line-height: 45.5px;
  font-size: var(--35px);
  color: var(--color-dark_I);
  margin-bottom: 25px;
  text-align: left;
}

.about__right .description__section{
  line-height: 24px;
  color: var(--color-dark_II);
}

.about__right .description__section p:first-child{
  margin-bottom: 25px;
}






