@media screen and (max-width: 1200px) {
  .wrapper{
    max-width: 92%;
  }
}

@media screen and (max-width: 1050px) {
  .modal__content{
    top: 25%;
    max-width: 630px;
    height: 350px;
  }

  .modal__picture{
    width: 350px;
  }
  
  .modal__picture img{
    height: 350px;
  }
  
  .modal__info{
    width: 280px;
    padding: 10px 9px 0 11px;
  }
  
  .modal__info h3{
    line-height: 45.5px;
  }
  
  .modal__info p{
    margin:  20px 0;
    font-size: 13px;
    line-height: 14.3px;
  }
  
  .modal__info li{
    line-height: 16.5px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 1040px) {
  .footer .wrapper{
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
  }

  .footer__picture{
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu{
    display: none;
  }

  .burger__menu{
    display: block;
  }

  .modal__content{
    top: 25%;
    max-width: 75%;
    height: auto;
  }

  .modal__picture{
    width: 0px;
  }
  
  .modal__picture img{
    display: none;
  }
  
  .modal__info{
    width: 100%;
    padding: 10px 9px 10px 11px;
  }
  
  .modal__info h3,
  .modal__info h4{
    text-align: center;
  }
  
  .modal__info p{
    text-align: justify;
  }
}

@media screen and (max-width: 550px) {
  .wrapper{
    max-width: 95%;
  }

  .footer{
    text-align: center;
  }

  .footer .wrapper{
    row-gap: 40px;
  }

  .footer__section li{
    justify-content: center;
  }

  .footer__section:nth-child(2) li:nth-child(1){
    margin-bottom: 37px;
    column-gap: 13px;
  }

  .footer__title h3{
    font-size: 25px;
    line-height: 32.5px;
  }
}

@media screen and (max-width: 450px) {
  .modal__close{
    right: -20px;
    top: -55px;
  }
}

@media screen and (max-width: 356px) {
  .footer__picture{
    width: 260px;
    height: 269px;
  }
}
