@media screen and (max-width: 1200px) {
  .wrapper{
    max-width: 92%;
  }
}

@media screen and (max-width: 767px) {
  .header__menu{
    display: none;
  }

  .burger__menu{
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .wrapper{
    max-width: 95%;
  }

  
}
